.nav-bar {
  background: #203864;
}

.App-logo {
  height: 5vmin;
}

.btn-Login {
  border-color:black;
  color: white;
  background-color: #203864;
  position: absolute;
  right: 180px;
  top: 20px;
}

.App-Description {
  height: 80vmin;
  width: 192vmin;
  position: absolute;
  left: 8px;
}

